<!-- index.hbs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="styles.css" rel="stylesheet">
    <title>The Reading Nook</title>
</head>

<body>
    
    <ul class="nav">
        <li><a href="./">Home</a></li>
        <li><a href="./customers">Customers</a></li>
        <li><a href="./books">Books</a></li>
        <li><a href="./orders">Orders</a></li>
        <li><a href="./employees">Employees</a></li>
    </ul>

    <h1>Welcome to The Reading Nook!</h1>
    <h3>Index of all Pages:</h3>
    <p>Customers</p>
    <ul>
        <li><a href="/customers">View Customers</a></li>
        <li><a href="/new_customer">Add a new Customer</a></li>
        <li><a href="/edit_customer">Edit a specific Customer</a></li>
    </ul>

    <p>Books</p>
    <ul>
        <li><a href="/books">View Books</a></li>
        <li><a href="/new_book">Add a new Book</a></li>
        <li><a href="/edit_book">Edit a specific Book</a></li>

    </ul>

    <p>Orders</p>
    <ul>
        <li><a href="/orders">View Orders</a></li>
        <li><a href="/new_order">Add a new Order</a></li>
        <li><a href="/edit_order">Edit a specific Order</a></li>
        <li><a href="/order_items">Edit Items of an Order</a></li>
    </ul>

    <p>Employees</p>
    <ul>
        <li><a href="/employees">View Employees</a></li>
        <li><a href="/new_employee">Add a new Employee</a></li>
        <li><a href="/edit_employee">Edit a specific Employee</a></li>
    </ul>
</body>

</html>