<!DOCTYPE html>
<html lang="en">

<head>
    <link href="styles.css" rel="stylesheet">
    <title>New Order</title>
</head>

<body>
    <ul class="nav">
        <li><a href="./">Home</a></li>
        <li><a href="./customers">Customers</a></li>
        <li><a href="./books">Books</a></li>
        <li><a href="./orders">Orders</a></li>
        <li><a href="./employees">Employees</a></li>
    </ul>

    <h1>Add a New Order</h1>
    <h2>Order</h2>
    <form id='new-order-form' method='POST' action='/new-order-form'>
        <fieldset>
            <label for="customer_id">Customer ID:</label>
            <input type="number" placeholder="Customer ID" name="customer_id_input" id="customer_id_input"/>

            <label for="order_date">Order Date:</label>
            <input type="date" placeholder="Order date" name="order_date_input" id="order_date_input"/>

            <label for="employee_id">Employee ID:</label>
            <input type="number" placeholder="Employee ID" name="employee_id_input" id="employee_id_input"/>

            <p>Will this order be shipped to the customer?</p>
            <input type="radio" id="to_be_shipped_input" name="to_be_shipped_input" value="1">
            <label class="radio" for="to_be_shipped_input">Yes</label>
            

            <input type="radio" id="to_be_shipped_input" name="to_be_shipped_input" value="0">
            <label class="radio" for="to_be_shipped_input">No</label>
            

            <p>Is this order complete?</p>
            <input type="radio" id="order_complete_input" name="order_complete_input" value="1">
            <label class="radio" for="order_complete_input">Yes</label>

            <input type="radio" id="order_complete_input" name="order_complete_input" value="0">
            <label class="radio" for="order_complete_input">No</label>
            <br>

            <br>
            <h3>Order Items</h3>
            <label for="book_id">Book ID:</label>
            <input type="number" placeholder="Book ID" name="book_id_input" id="book_id_input"/>

            <label for="quantity">Quantity:</label>
            <input type="number" placeholder="Quantity" name="quantity_input" id="quantity_input"/>

            <select name="order_item_complete_input" id="order_item_complete_input">
                <option value="FALSE" selected>Not Complete</option>
                <option value="TRUE">Complete</option>
            </select>
            <br>
            <label for="book_id">Book ID:</label>
            <input type="number" placeholder="Book ID" />

            <label for="quantity">Quantity:</label>
            <input type="number" placeholder="Quantity" />

            <select name="dropdown">
                <option value="Not Complete" selected>Not Complete</option>
                <option value="Complete">Complete</option>
            </select>
            <br>
            <label for="book_id">Book ID:</label>
            <input type="number" placeholder="Book ID" />

            <label for="quantity">Quantity:</label>
            <input type="number" placeholder="Quantity" />
            
            <select name="dropdown">
                <option value="Not Complete" selected>Not Complete</option>
                <option value="Complete">Complete</option>
            </select>

            <br>
            <br>
            <button>Add order</button>
        </fieldset>
    </form>

    <br>
    <a href="/orders">Return to list of orders</a>

    <br>
    <a href="/">Return to the Home Page</a>
</body>

</html>